<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <param name="/use_sim_time" value="true" />

  <!-- Connect the robot to a keyboard teleop controller
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/> -->


  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find jackal_cartographer_navigation)/config
          -configuration_basename final_robot_localization.lua"
      output="screen">
    <remap from="scan" to="/front/scan"/>
    <remap from="odom" to="/jackal_velocity_controller/odom"/>
    <!-- <remap from="odom" to="odometry/filtered"/> -->
    <!-- <remap from="imu" to="imu/data"/> -->
    <remap from= "points2" to="/mid/points"/>
  </node>

</launch>
